.section-title-container {
  text-align: center;
}

.section-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 50px;
  }
}
.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;
  display: block;
  width: 80%;
  height: 10px;
  background: #ff8b17;
  border-radius: 999px;
  margin: 0 auto;
}

.section-subtitle {
  margin-top: 60px;
  font-size: 25px;
  line-height: 30px;
  color: #111111;
}

.header {
  background: #ffffff;
  padding: 10px 0;
  z-index: 4;
  transition: 0.3s ease;
}
.header._change {
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  position: fixed;
  width: 100%;
}
.header .header-container .header-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header-container .header-elements .header-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 22px;
  cursor: pointer;
  background: transparent;
}
.header .header-container .header-elements .header-burger span, .header .header-container .header-elements .header-burger::before, .header .header-container .header-elements .header-burger::after {
  position: absolute;
  background: #111111;
  width: 100%;
  height: 10%;
  transition: 0.3s ease;
  border-radius: 999px;
}
.header .header-container .header-elements .header-burger::before, .header .header-container .header-elements .header-burger::after {
  content: "";
}
.header .header-container .header-elements .header-burger::before {
  top: 0;
}
.header .header-container .header-elements .header-burger::after {
  bottom: 0;
}
.header .header-container .header-elements .header-burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header .header-container .header-elements .header-burger._active span {
  transform: scale(0) translate(0, -50%);
}
.header .header-container .header-elements .header-burger._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header-container .header-elements .header-burger._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header .header-container .header-elements .header-logo a {
  display: block;
}
.header .header-container .header-elements .header-navigation-language .header-links {
  display: none;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng {
  cursor: pointer;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper {
  display: flex;
  gap: 10px;
  background: #111111;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper .header-active-language .header-languages-element .lng-title {
  display: none;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper .header-active-language-triangle img {
  display: block;
  transition: 0.3s ease;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper .header-active-language-triangle._active img {
  transform: rotate(180deg);
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu {
  position: absolute;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #111111;
  padding: 10px;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -20px);
  transition: 0.3s ease;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu._active {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}
.header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu .header-languages-element .lng-title {
  display: none;
}

@media (min-width: 576px) {
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper {
    padding: 15px 10px;
  }
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper .header-active-language .header-languages-element {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-active-language-wrapper .header-active-language .header-languages-element .lng-title {
    display: initial;
    color: #ff8b17;
    font-size: 20px;
  }
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu {
    padding: 15px;
    gap: 15px;
  }
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu .header-languages-element {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header .header-container .header-elements .header-navigation-language .header-change-lng .header-languages-menu .header-languages-element .lng-title {
    display: initial;
    color: #ff8b17;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .header .header-container .header-elements .header-burger {
    display: none;
  }
  .header .header-container .header-elements .header-navigation-language {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header-container .header-elements .header-navigation-language .header-links {
    display: initial;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header-container .header-elements .header-navigation-language .header-links .header-links-element {
    font-size: 20px;
    position: relative;
  }
  .header .header-container .header-elements .header-navigation-language .header-links .header-links-element a {
    color: #111111;
  }
  .header .header-container .header-elements .header-navigation-language .header-links .header-links-element::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    border-radius: 999px;
    display: block;
    width: 0%;
    visibility: hidden;
    height: 3px;
    opacity: 0;
    margin: 0 auto;
    background: #ff8b17;
    transition: 0.3s ease;
  }
  .header .header-container .header-elements .header-navigation-language .header-links .header-links-element:hover::after {
    visibility: visible;
    width: 100%;
    opacity: 1;
  }
}