.section-title-container {
  text-align: center;
}

.section-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 50px;
  }
}
.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;
  display: block;
  width: 80%;
  height: 10px;
  background: #ff8b17;
  border-radius: 999px;
  margin: 0 auto;
}

.section-subtitle {
  margin-top: 60px;
  font-size: 25px;
  line-height: 30px;
  color: #111111;
}

.portfolio {
  padding: 60px 0;
  background: #ffffff;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top {
  margin-bottom: 60px;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-texts .portfolio-subtitle {
  line-height: 30px;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
  font-size: 30px;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise .portfolio-choise-element {
  background: #111111;
  color: #ff8b17;
  transition: 0.3s ease;
  padding: 15px 0;
  width: 100%;
  border-radius: 999px;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise .portfolio-choise-element:hover {
  background: #ff8b17;
  color: #111111;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise .portfolio-choise-element._active {
  background: #ff8b17;
  color: #111111;
  pointer-events: none;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-gallery {
  grid-template-columns: 1fr;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
  transition: 0.3s ease;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-gallery div {
  height: 200px;
  overflow: hidden;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-gallery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .portfolio-container .portfolio-elements .portfolio-gallery._active {
  visibility: visible;
  height: auto;
  width: auto;
  display: grid;
  opacity: 1;
}

@media (min-width: 576px) {
  .portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise {
    gap: 30px;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery {
    gap: 30px;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery div {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .portfolio .portfolio-container .portfolio-elements .portfolio-top {
    margin-bottom: 30px;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise {
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-top .portfolio-choise .portfolio-choise-element {
    padding: 15px 80px;
    width: auto;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery div {
    height: 200px;
  }
}
@media (min-width: 992px) {
  .portfolio {
    padding: 90px 0;
  }
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .portfolio .portfolio-container .portfolio-elements .portfolio-gallery div {
    height: 250px;
  }
}