.section-title-container {
  text-align: center;
}

.section-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 576px) {
  .section-title {
    font-size: 50px;
  }
}
.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;
  display: block;
  width: 80%;
  height: 10px;
  background: #ff8b17;
  border-radius: 999px;
  margin: 0 auto;
}

.section-subtitle {
  margin-top: 60px;
  font-size: 25px;
  line-height: 30px;
  color: #111111;
}

.services {
  padding: 60px 0;
  background: #f4f4f4;
}
.services .services-container .services-elements .services-cards {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services .services-container .services-elements .services-cards .services-card {
  background: #111111;
  color: #ff8b17;
  padding: 30px;
  border-radius: 20px;
}
.services .services-container .services-elements .services-cards .services-card .services-card-img {
  display: flex;
  justify-content: center;
}
.services .services-container .services-elements .services-cards .services-card .services-card-texts {
  margin-top: 20px;
}
.services .services-container .services-elements .services-cards .services-card .services-card-texts .services-card-title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.services .services-container .services-elements .services-cards .services-card .services-card-texts .services-card-subtitle {
  line-height: 24px;
  margin-top: 20px;
  font-size: 20px;
}
.services .services-container .services-elements .services-cards .services-card-attention {
  background: #ff8b17;
  color: #111111;
}

@media (min-width: 576px) {
  .services .services-container .services-elements .services-title {
    font-size: 50px;
  }
  .services .services-container .services-elements .services-cards {
    margin-top: 90px;
  }
}
@media (min-width: 768px) {
  .services .services-container .services-elements .services-cards {
    gap: 30px;
  }
}
@media (min-width: 992px) {
  .services {
    padding: 90px 0;
  }
  .services .services-container .services-elements .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .services .services-container .services-elements .services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}