$orange: #ff8b17;
$black: #111111;
$white: #ffffff;
$contact-background: #e2e2e2;
$background-gray: #f4f4f4;
$footer-text: #474747;
$portfolio-block-background: rgba(17, 17, 17, 0.6);
$menu-burger-background: rgba(17, 17, 17, 0.6);
$header-opacity-background: rgba(255, 255, 255, 0.8);
$main-gradient: linear-gradient(120deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 139, 23, 0.8) 40%);
$animation: 0.3s ease;
$animationParallax: ease;

// padding
$padding-mobile: 60px 0;
$padding-tablet-and-pc: 90px 0;

// общие стили
.section-title-container {
	text-align: center;
}

.section-title {
	position: relative;
	display: inline-block;
	font-weight: 700;
	color: $black;
	font-size: 40px;
	text-align: center;

	@media (min-width: 576px) {
		font-size: 50px;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: -26px;
		display: block;
		width: 80%;
		height: 10px;
		background: $orange;
		border-radius: 999px;
		margin: 0 auto;
	}
}

.section-subtitle {
	margin-top: 60px;
	font-size: 25px;
	line-height: 30px;
	color: $black;
}
