@import "_variables";

.about-us {
	padding: $padding-mobile;
	background: $white;
	color: $black;
	.about-us-container {
		.about-us-elements {
			.about-us-texts {
				.about-us-subtitle {
					& p:last-child {
						margin-top: 40px;
					}
				}
			}

			.about-us-img-wrapper {
				margin-top: 30px;
				height: 512px;
				border-radius: 20px;
				overflow: hidden;
				img {
					width: 100%;
					object-fit: cover;
					height: 100%;
					transform: scale(2);
					object-position: 0 0;
					transition: $animationParallax;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.about-us {
		.about-us-container {
			.about-us-elements {
				.about-us-texts {
					.about-us-title {
						font-size: 50px;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.about-us {
		padding: $padding-tablet-and-pc;

		.about-us-container {
			.about-us-elements {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 30px;

				.about-us-texts {
					.about-us-title-container {
						text-align: start;
					}

					.about-us-subtitle {
						width: 456px;
					}
				}

				.about-us-img-wrapper {
					min-width: 445px;
					max-width: 445px;
					height: 586px;
					margin-top: 0;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.about-us {
		.about-us-container {
			.about-us-elements {
				.about-us-texts {
					.about-us-subtitle {
						width: 540px;
					}
				}
			}
		}
	}
}
