@import "_variables";

// Container
.container {
	max-width: 1110px;
	margin: 0px auto;
	padding: 0 15px;

	@media (min-width: 768px) {
		padding: 0 40px;
	}

	@media (min-width: 1400px) {
		padding: 0;
	}
}

// Standart
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	overflow-x: hidden;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}
