@import "_variables";

.footer {
	.footer-elements {
		.footer-main {
			padding: $padding-mobile;
			background: $black;

			.footer-main-container {
				.footer-main-elements {
					display: flex;
					flex-direction: column;
					align-items: center;

					.footer-logo {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 28px 20px;
						background: $white;
						border-radius: 10px;
						max-width: 158px;

						img {
							width: 116px;
						}
					}

					.footer-nav {
						margin-top: 30px;
						display: flex;
						flex-direction: column;
						gap: 30px;

						.footer-title {
							color: $white;
							font-size: 20px;
						}

						.footer-subtitle {
							color: $footer-text;
							font-size: 15px;
						}

						.footer-wrapper {
							display: flex;
							flex-direction: column;
							gap: 10px;
							margin-top: 20px;
						}

						.footer-element-img {
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 10px;
							transition: $animation;
						}

						.footer-section-element {
							transition: $animation;
							position: relative;
							display: inline-flex;

							&:hover {
								transform: translateX(15px);
							}
						}

						// .footer-section {
						// }

						// .foter-info {
						// 	.footer-info-title {
						// 	}

						// 	.footer-info-wrapper {
						// 		.footer-info-element {
						// 		}
						// 	}
						// }

						// .footer-social {
						// 	.footer-social-title {
						// 	}

						// 	.footer-social-wrapper {
						// 		.footer-social-element {
						// 		}
						// 	}
						// }

						// .footer-nav-section {
						// 	.footer-nav-title {
						// 	}

						// 	.footer-nav-wrapper {
						// 		.footer-nav-element {
						// 		}
						// 	}
						// }
					}
				}
			}
		}

		.footer-copyright {
			padding: 10px 0;
			background: $background-gray;

			.footer-copyright-container {
				.footer-copyright-elements {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					gap: 10px;
					font-size: 10px;

					.footer-copyright-element {
						text-align: center;
						color: $black;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.footer {
		.footer-elements {
			.footer-main {
				.footer-main-container {
					display: flex;
					justify-content: center;

					.footer-main-elements {
						align-items: normal;

						.footer-logo-wrapper {
							max-width: 158px;
							z-index: 2;
						}

						.footer-nav {
							margin-top: -144px;
							display: grid;
							grid-template-columns: repeat(2, 1fr);
							gap: 40px;
							z-index: 1;

							.footer-info {
								grid-column: 2 / 3;
							}
						}
					}
				}
			}

			.footer-copyright {
				.footer-copyright-container {
					.footer-copyright-elements {
						font-size: 15px;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.footer {
		.footer-elements {
			.footer-main {
				padding: $padding-tablet-and-pc;
				position: relative;

				.footer-main-container {
					justify-content: normal;

					.footer-main-elements {
						align-items: center;
						flex-direction: row;
						width: 100%;
						justify-content: space-between;

						.footer-logo-wrapper,
						.footer-logo {
							top: 0;
							bottom: 0;
							height: 100%;
							border-radius: 0;
							min-width: 300px;

							img {
								width: 221px;
							}
						}

						.footer-logo {
							position: absolute;
						}

						.footer-nav {
							margin-top: 0;
							display: flex;
							flex-direction: row;
							justify-content: end;
							gap: 30px;
						}
					}
				}
			}

			.footer-copyright {
				.footer-copyright-container {
					.footer-copyright-elements {
						flex-direction: row;
						gap: 30px;

						.footer-copyright-element {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}

// .footer {
// 	.footer-elements {
// 		.footer-main {
// 			.footer-main-container {
// 				.footer-main-elements {
// 					.footer-logo {
// 					}

// 					.footer-nav {
// 						.foter-info {
// 							.footer-info-title {}

// 							.footer-info-wrapper {
// 								.footer-info-element {}
// 							}
// 						}

// 						.footer-social {
// 							.footer-social-title {}

// 							.footer-social-wrapper {
// 								.footer-social-element {}
// 							}
// 						}

// 						.footer-nav-section {
// 							.footer-nav-title {}

// 							.footer-nav-wrapper {
// 								.footer-nav-element {}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.footer-copyright {
// 			.footer-copyright-container {
// 				.footer-copyright-elements {
// 					.footer-copyright-element {}
// 				}
// 			}
// 		}
// 	}
// }
