@import "_variables";

.header {
	background: $white;
	padding: 10px 0;
	z-index: 4;
	transition: $animation;

	&._change {
		padding: 5px 0;
		background: $header-opacity-background;
		backdrop-filter: blur(25px);
		position: fixed;
		width: 100%;
	}

	.header-container {
		.header-elements {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.header-burger {
				position: relative;
				display: block;
				width: 30px;
				height: 22px;
				cursor: pointer;
				background: transparent;

				& span,
				&::before,
				&::after {
					position: absolute;
					background: $black;
					width: 100%;
					height: 10%;
					transition: $animation;
					border-radius: 999px;
				}

				&::before,
				&::after {
					content: "";
				}

				&::before {
					top: 0;
				}

				&::after {
					bottom: 0;
				}

				& span {
					top: 50%;
					transform: scale(1) translate(0px, -50%);
				}
			}

			// Анимация у бургера
			.header-burger._active span {
				transform: scale(0) translate(0, -50%);
			}

			.header-burger._active::before {
				top: 50%;
				transform: rotate(-45deg) translate(0, -50%);
			}

			.header-burger._active::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0, 50%);
			}

			.header-logo {
				a {
					display: block;
				}
			}

			.header-navigation-language {
				.header-links {
					display: none;
				}

				.header-change-lng {
					cursor: pointer;

					.header-active-language-wrapper {
						display: flex;
						gap: 10px;
						background: $black;
						padding: 10px;
						align-items: center;
						border-radius: 10px;

						.header-active-language {
							.header-languages-element {
								.lng-title {
									display: none;
								}
							}
						}

						.header-active-language-triangle {
							img {
								display: block;
								transition: $animation;
							}
						}

						// Анимация у треугольника
						.header-active-language-triangle._active {
							img {
								transform: rotate(180deg);
							}
						}
					}

					.header-languages-menu {
						position: absolute;
						margin-top: 10px;
						display: flex;
						flex-direction: column;
						border-radius: 10px;
						background: $black;
						padding: 10px;
						gap: 10px;
						visibility: hidden;
						opacity: 0;
						transform: translate(0, -20px);
						transition: $animation;

						// Анимация у сеню с языками
						&._active {
							visibility: visible;
							transform: translate(0, 0);
							opacity: 1;
						}

						.header-languages-element {
							.lng-title {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

// Media
@media (min-width: 576px) {
	.header {
		.header-container {
			.header-elements {
				.header-navigation-language {
					.header-change-lng {
						.header-active-language-wrapper {
							padding: 15px 10px;

							.header-active-language {
								.header-languages-element {
									display: flex;
									align-items: center;
									gap: 10px;

									.lng-title {
										display: initial;
										color: $orange;
										font-size: 20px;
									}
								}
							}
						}
						.header-languages-menu {
							padding: 15px;
							gap: 15px;

							.header-languages-element {
								display: flex;
								align-items: center;
								gap: 10px;
								.lng-title {
									display: initial;
									color: $orange;
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.header-container {
			.header-elements {
				.header-burger {
					display: none;
				}

				.header-navigation-language {
					display: flex;
					align-items: center;
					gap: 30px;

					.header-links {
						display: initial;
						display: flex;
						align-items: center;
						gap: 30px;

						.header-links-element {
							font-size: 20px;
							position: relative;

							a {
								color: $black;
							}

							&::after {
								content: "";
								position: absolute;
								left: 0;
								right: 0;
								bottom: -7px;
								border-radius: 999px;
								display: block;
								width: 0%;
								visibility: hidden;
								height: 3px;
								opacity: 0;
								margin: 0 auto;
								background: $orange;
								transition: $animation;
							}

							&:hover {
								&::after {
									visibility: visible;
									width: 100%;
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
}

// .header {
// 	.header-container {
// 		.header-elements {
// 			.header-logo {
// 				a {
// 					display: block;
// 				}
// 			}
// 			.header-navigation-language {
// 				.header-links {
// 					.header-links-element {
// 					}
// 				}
// 				.header-change-lng {
// 					.header-active-language-wrapper {
// 						.header-active-language {
// 							.header-languages-element {
// 								.lng-img {
// 								}
// 								.lng-title {
// 								}
// 							}
// 						}

// 						.header-active-language-triangle {
// 						}
// 					}
// 					.header-languages-menu {
// 						.header-languages-element {
// 							.lng-img {
// 							}
// 							.lng-title {
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
