@import "_variables";

.menu-burger {
	position: fixed;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $menu-burger-background;
	backdrop-filter: blur(5px);
	opacity: 0;
	visibility: hidden;
	transition: $animation;
	z-index: 3;

	&._active {
		visibility: visible;
		opacity: 1;

		.menu-burger-content {
			transform: translateX(0);
		}
	}

	.menu-burger-content {
		padding: 15px;
		background: $header-opacity-background;
		backdrop-filter: blur(25px);
		width: 80%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		transform: translateX(-100%);
		transition: $animation;

		.menu-burger-nav {
			flex-grow: 1;

			.burger-links {
				display: inline-flex;
				flex-direction: column;
				gap: 5px;
			}
			.burger-links-line {
				margin-top: 5px;
				margin-bottom: 5px;
				width: 100%;
				height: 5px;
				background: $orange;
				border-radius: 999px;
			}
			.burger-links-element {
				font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (768 - 320)));
				color: $black;
			}
		}

		.menu-burger-contact {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 40px;

			.contact-info {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.contanct-info-element a {
					display: flex;
					align-items: center;
					gap: 15px;
					font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (768 - 320)));
					color: $black;

					img {
						width: 14%;
						max-width: 70px;
					}
				}
			}

			.contact-social {
				display: flex;
				flex-direction: column;
				gap: 20px;

				.contact-social-title {
					font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (768 - 320)));
					color: $black;
				}

				.contact-social-wrapper {
					display: flex;
					gap: 20px;

					.contanct-social-element a {
						display: block;

						img {
							width: 40px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.menu-burger {
		.menu-burger-content {
			width: 60%;
			padding: 20px;

			.menu-burger-contact {
				.contact-info {
					.contanct-info-element a {
						font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (768 - 320)));

						img {
							width: 8%;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.menu-burger {
		.menu-burger-content {
			width: 50%;
		}
	}
}

@media (min-width: 992px) {
	.menu-burger {
		display: none;
	}
}
