@import "_variables";

.portfolio {
	padding: $padding-mobile;
	background: $white;

	.portfolio-container {
		.portfolio-elements {
			.portfolio-links {
				margin-top: 30px;

				.potfolio-links-element {
					height: 200px;
					overflow: hidden;
					position: relative;

					&:hover {
						.potfolio-links-element-background {
							visibility: hidden;
							opacity: 0;
						}

						.potfolio-links-element-img {
							transform: scale(1.2);
						}
					}

					.potfolio-links-element-img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: $animation;
					}

					.potfolio-links-element-background {
						background: $portfolio-block-background;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						color: $orange;
						font-size: 40px;
						font-weight: 700;
						display: flex;
						justify-content: center;
						align-items: center;
						text-align: center;
						line-height: 50px;
						transition: $animation;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.portfolio {
		.portfolio-container {
			.portfolio-elements {
				.portfolio-texts {
					.portfolio-title-container {
						.portfolio-title {
							font-size: 50px;
						}
					}

					.potfolio-subtitle {
						text-align: left;
					}
				}

				.portfolio-links {
					.potfolio-links-element {
						height: 300px;

						.potfolio-links-element-background {
							font-size: 60px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.portfolio {
		.portfolio-container {
			.portfolio-elements {
				.portfolio-links {
					margin-top: 60px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.portfolio {
		padding: $padding-tablet-and-pc;

		.portfolio-container {
			.portfolio-elements {
				.portfolio-links {
					display: flex;
					flex-direction: row;

					.potfolio-links-element {
						flex: 0 0 50%;
					}
				}
			}
		}
	}
}

// .portfolio {
// 	.portfolio-container {
// 		.portfolio-elements {
// 			.portfolio-texts {
// 				.portfolio-title-container {
// 					.portfolio-title {
// 					}
// 				}

// 				.portfolio-subtitle {
// 				}
// 			}

// 			.portfolio-links {
// 				.potfolio-links-element {
// 					.potfolio-links-element-img {}
// 					.potfolio-links-element-background {}
// 				}
// 			}
// 		}
// 	}
// }
